
body,html{
    height: 100%;
}

.bg{ 
    /* background image*/
    background-image: url("images/darkcheer.jpeg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  p{
    font-size: large;
  }

  .imagesBox{
    text-align: center;
    padding-top: 20px;
  }

  /*img:hover {
    box-shadow: 0 0 5px 1px rgba(65, 67, 68, 0.5);  
}*/
  .results{
      display:flex;
      flex-direction: row;
      justify-content: space-around;
      font-size: 30px;
      font-weight: bold;
  }

  .showSelection{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
  }
button:hover{
   background-color: transparent;
}
button{
    border: none;
    background-color: transparent;
}


