
body,html{
    height: 100%;
}

.bg{ 
    /* background image*/
    background-image: url("images/darkcheer.jpeg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  p{
    font-size: large;
  }

  .imagesBox{
    text-align: center;
    padding-top: 20px;
  }


  .results{
      display:flex;
      flex-direction: row;
      justify-content: space-around;
      font-size: 30px;
      font-weight: bold;
  }

  .showSelection{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
  }
button:hover{
   background-color: transparent;
}
button{
    border: none;
    background-color: transparent;
}
.messageShow{
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  

}

.finalMessage{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: transparent;
    font-weight: bold;
}
#resetButton{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    

}

#hide{
    display: none;
}




