
body,html{
    height: 100%;
}

.bg { 
    /* background image*/
    background-image: url("images/darkcheer.jpeg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
